.review-component-box {
    display: flex;
    flex-direction: row;
    width: 60vw;
    height: 45px;
    background: #f2f2f2;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px #d3d3d3;
  }
  
  .review-component-box-conn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60vw;
    height: 100px;
    background: #f2f2f2;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px #d3d3d3;
  }

  .review-component-box-nested {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 57.6vw;
    height: 45px;
    background: #f2f2f2;
    margin-bottom: 10px;
    margin-left: 30px;
    box-shadow: 2px 2px 5px #d3d3d3;
  }
  
  .review-component-text {
      padding: 10px 0 0 7px;
      color: #4D4B45;
      font-family: "Roboto","Helvetica","Arial",sans-serif;
      font-size: 0.7rem;
      cursor: pointer;
      transition: color 0.3s, font-size 0.3s;
  }

  .review-component-text:hover {
    color: black;
    font-size: 1.1rem;
  }
  
  .connection-attr-box {
    display: flex;
    flex-direction: row;
    align-items: 'center';
    margin-top: 10px;
    margin-left: 10px;
  }
  
  .connection-attr {
    width: 175px;
    height: 45px;
    background: #e5e5e5;
    margin-right: 10px;
    border-bottom: 1px solid black;
    border-radius: 5px 5px 0 0 ;
  }
  
  .connection-attr-label {
    font-size: 12px;
    color: #4D4B45;
    display: block;
    margin-left: 10px;
    padding: 5px 0 1px 0;
  }

  .connection-attr-value {
    font-size: 13px;
    color:#2c2c29;
    display: block;
    margin-left: 10px;
  }

  .checkmark {
    color: green; 
    margin-right: 30px; 
    margin-top: 15px; 
    margin-left: auto;
    font-size: 1rem !important;
    cursor: pointer;
  }

  .warningIcon {
    color: orange;
    margin-right: 30px; 
    margin-top: 15px; 
    margin-left: auto;
    font-size: 1rem !important;
    cursor: pointer;
  }

  .vertical-line {
    border-left: 2px solid #1976d2;
    margin: 15px 0 25px 0;
  }

.substages {
  display: flex;
  flex-direction: row;
}

  
  